*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.hero-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}



/*Start Header Section*/


#header .brand a{
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    color: white;

}

#header .brand a span{
    color: crimson;
}


#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header-container{
    min-height: 8vh;
    background: rgba(33, 32, 32, 0.44);
    text-align: center;
    margin: 0 auto;
}


#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}

#header .nav-list ul.active{
    left: 0px;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500px;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    z-index: 1;
}


#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: initial;
    z-index: -1;
    transition: .4s ease transform;
}


#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
}

#header .nav-list ul li:hover a{
    color: crimson;
}


#header .hamburger{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.7);
    margin-right: 20px;
}

#header .hamburger .bar{
    height: 4px;
    width: 25px;
    position: relative;
    background-color: white;
    z-index: -1;
}


#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top,bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}


#header .hamburger .active .bar::before{
    top: 0;
}


#header .hamburger .active .bar::after{
    bottom: 0;
}

/*End Header Section*/


/* Start Hero Section */


#hero{
    background-image: url(../img/wow.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    clear: both;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1; 
}

#hero .hero-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 90px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    margin: 4px 0px;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name 1s ease forwards;
    animation-delay: 3.5s;
}
#hero h1:nth-child(1) span{
    animation-delay:1s;
    
}
#hero h1:nth-child(2) span{
    animation-delay:2s;
}
#hero h1:nth-child(3) span{
    animation-delay:3s;
    
}
#hero h1 span{
    position:absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease forwards;
    animation-delay: .5s;

}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    font-size: 13px;
    outline: none;
    background-color: transparent;
    border: solid 2px crimson;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s;
    transition-property: background-color,color;
}
#hero .cta:hover{
    color: black;
    background-color: crimson;
}
/* End Hero Section */



/*Start Service Section*/


#services .service-container{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .section-title{
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;

}

#services .section-title span{
    color: crimson;
}


#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: .05rem;
}

#services .service-top{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}


#services .service-bottom{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
    border-radius: 20px;
    background-image: url(../img/ham.jpg);
    background-size: cover;
    margin: 10px 5%;
    color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 8px 8px 10px gray;
}

#services .service-item:after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}


img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#services .service-botttom .icon img{
    height: 50px;
    width: 50px;
    margin-bottom: 90px;
}
#services .service-item h2{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
 #services .service-item p{
text-align: left;
font-size: 1.4rem;
line-height: 1.9 rem;
letter-spacing: .05rem;

}
/*End Service Section*/



/* Start Project Section*/


#projects .section-title{
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;

}

#projects .section-title span{
    color: crimson;
}

#projects .project-container{
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .project-header h1{
    margin-bottom: 50px;
}

#projects .all-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(600deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}
#projects .project-info h2{
    font-size: 2rem;
    font-weight: 500;
    margin: 10px 0;
}

#projects .project-info p{
    font-size: 1.5rem;
}

#projects .project-img{
    flex-basis: 50%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(600deg, #29323c 0%, #485563 100%);
    opacity: 0.5;
}

#projects  .project-img img{
    transition: 1s ease transform;
}

#projects  .project-img:hover  img{
    transform: scale(1.1);
}
/* End Project Section*/




/* Start About Section*/

#about .section-title{
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;

}

#about  .section-title span{
    color: crimson;
}

#about .about-container{
    flex-direction: column-reverse;
    text-align: center;
    margin: 0 auto;
    max-width:  1500px;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p{
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 20px;
}

#about .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    font-size: 13px;
    background-color: transparent;
    border: solid 2px crimson;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s;
    transition-property: background-color,color;
}
#about .cta:hover{
    color: black;
    background-color: crimson;
}


#about .col-right .cta{
    padding: 10px 20px;
    font-size: 1rem;
}


#about .col-left .about-img{
    position: relative;
    z-index: 1;
}

#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/*End About Section*/





/*Start Contact Section*/

#contact .section-title{
    font-size: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;

}

#contact  .section-title span{
    color: crimson;
}


#contact .contact-container{
    flex-direction:column;
    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contact-items{
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}


#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-size: 500;
}

/*End Contact Section*/



/*Start Footer Area*/

#footer .brand{
    font-size: 3rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    color: white;

}

#footer  .brand span{
    color: crimson;
}



#footer{
    background: linear-gradient(60deg, #29323c 0%,#485563 100%);
}

#footer .footer-container{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    margin-top: 18px;
    margin-bottom: 25px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}


#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}


#footer .social-item img{
    filter: grayscale(1);
    transition: 1s ease filter;
}


#footer .social-item img:hover{
    filter: grayscale(0);
}


#footer p{
    color: white;
    font-size: 1.1rem;
}

/*End Footer Area*/




/*Start Keyframes*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500px;
    }
}
/*End Keyframes*/



/*Start Media Quary for Tablet*/

@media only screen and (min-width: 768px){
    #hero .cta{
        font-size: 1.5rem;
        padding: 20px 60px;
    }


    #services .section-title{
        font-size: 6rem;
    }

    #projects .section-title{
        font-size: 6rem;
    }

    #about .section-title{
        font-size: 6rem;
    }

    #contact .section-title{
        font-size: 6rem;
    }

    /*Start Hero Section*/

    #hero h1{
        font-size: 5rem;
    }

    /*End Hero Section*/

    
    /*Start Service Section*/

    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }

    /*End Service Section*/

    


    /*Start Project Section*/


    #projects .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 90%;
        border-radius: 0;
    }

    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }

    #projects .all-projects .project-info{
        height: 100%;
    }

    #projects .all-projects .project-img{
        height: 100%;
    }

    /*End Project Section*/



    /*Start Contact Section*/

    #contact .contact-container{
        flex-direction: column;
        padding: 100px 0;
    }

    #contact .contact-items{
        display: flex;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 300px;
    }

    #contact .contact-item{
        width: 200px;
        height: 200px;
    }

    #contact .contact-item .icon{
        width: 50px;
        height: 50px;
        object-fit: contain;
    }


    #contact .contact-item .contact-info{
        width: 100%;
        text-align: center;
    }

    /*End Contact Section*/ 

}

/*End Media Quary for Tablet*/



/*Start Media Query For Desktop*/

@media only screen and (min-width: 1200px){
    #services .service-bottom .service-item{
        flex-basis: 40%;
        height: 300px;
    }


    #header .hamburger{
        display: none;
    }

    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a{
        font-size:1.8rem;
    }

    #header .nav-list ul a:after{
        display: none;
    }
}



/*End Media Query For Desktop*/